@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');


html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    /* background-color: rgb(219, 187, 146); */
    background-color: rgb(78, 1, 1) ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    margin: 0;
}
header{
    background-color: white;

    h1{
        color: white;
    }
    width: 100vw;
    left: 0;
    top: 0;
    position: absolute;
    padding-top: 20px;
}

header img{
    width: 150px;
    padding-bottom: 20px;
}

nav{
    width: 100vw;
    border-top: solid 4px black;
    border-bottom: solid 4px black;
    background-color: black;
}

nav ul{
    overflow: hidden;
    padding: 0;
    margin: 0;
    list-style-type: none;

    li{
        margin-left: -4px;
        color: white;
        width: 70px;
        text-align: center;
        justify-content: center;
        display: inline-block;
        padding: 14px;
        border-right: solid 2px white;
        padding-left: 4px;
        padding-right: 4px;
    }
}

.activecontratar{
    background-color: rgb(78, 1, 1);
}

#nav-sobre{
    border-right: solid 2px white;
}

.conteiner-cadastro{
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    padding: 50px;
    label{
        color: white;
    }
    background-color: black;
    opacity: 100%;
    box-shadow: -2px -2px 30px yellow;
    box-shadow:  2px 2px 30px yellow;
    border: solid 2px white;
    width: 800px;
    height: 1000px;
    background-position-x: 60%;
}

.conteiner-cadastro .input-nome{
    position: relative;
    height: 80px;
    line-height: 80px;
}

.conteiner-cadastro input, .container-cdastro textarea{
    position: absolute;
    outline: none;
    padding: 0 30px;
    line-height: 40px;
    border-radius: 10px;
    background: transparent;
    border: solid 2px white;
    background: transparent;
    transition: 0.1s ease;
    z-index: 999;
}

.conteiner-cadastro .label-line{
    position: absolute;
    bottom: 22%;
    color: white;
    padding: 0 25px;
    margin: 0 20px;
    background-color: black;
    transition: 0.2s ease;
}

.conteiner-cadastro input:focus,
.conteiner-cadastro input:valid{
    /* color: rgb(78, 1, 1);
    border: solid 2px rgb(78, 1, 1); */

    color: red;
    border: solid 2px red;
}

.conteiner-cadastro input:focus + .label-line,
.conteiner-cadastro input:valid + .label-line{
        line-height: 30px;
        padding: 0 10px;
        transform: translate(0px, -50px) scale(0.88);
        z-index: 999;

        label{
            /* color: rgb(78, 1, 1); */

            color: red;
        }
}

.tigrinho{
    display: flex;
    position: absolute;
}

.tigrinho img{
    position: absolute;
    top: -210px;
    right: -700px;
    width: 30px;
    opacity: 10%;
}

.wallpaper-tigre{
    background-image: url(img-trigre/tigre.png);
    background-size: 100%;
}

#input-email{
    width: 700px;
}

.selector-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 250px;
    height: 50px;
    color: white;

    margin: 0 0 35px 0;
}

.selector-container .select-box{
    color: white;
    width: 100%;
    border: solid white 2px;
    border-radius: 10px;
    appearance: none;
    padding: 0 30px 0 15px;
    background-color: rgb(78, 1, 1);
    font-size: 20px;
}

.selector-container p{
    padding: 15px 20px 0 0;
}

#input-caract {
    width: 700px;
    height: 400px;
}